<div class="bg">
<div class="container">
    <nav class="navbar navbar-expand-sm   ">
        <ul class="navbar-nav  mx-auto justify-content-center">
          <li class="nav-item  "><a  class="nav-link"  href="#" >HOME </a></li>
          <li class="nav-item dropdown "><a  class="nav-link " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">COLLECTION</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">WOMENS</a>
              <a class="dropdown-item" href="#">MENS</a>
              <a class="dropdown-item" href="#">CHILDRENS</a>
            </div></li>
          <li class="nav-item dropdown "><a  class="nav-link " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">COLLECTION -1 </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">WOMENS</a>
              <a class="dropdown-item" href="#">MENS</a>
              <a class="dropdown-item" href="#">CHILDRENS</a>
            </div></li>
          <li class="nav-item dropdown "><a  class="nav-link " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">SHOP</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">WOMENS</a>
              <a class="dropdown-item" href="#">MENS</a>
              <a class="dropdown-item" href="#">CHILDRENS</a>
            </div></li>
          <li class="nav-item dropdown"><a href="#" class="nav-link ">CONTACTS US</a></li>
          <li class="nav-item dropdown"> <a href="#" class="nav-link ">ABOUT US</a></li>
        </ul>
      </nav>
      

</div>
</div>