<footer>
    <div class="mainfooter ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12" >
                    <h3>FOLLOW OUR UPDATES !</h3>
                    <p>Be the First to know about our Fresh Arrivals and much more!</p>
    
                </div>
                <div class="col-lg-6 col-sm-12" >
                    <input class=" p-3 shadow-none" type="search" placeholder="Search">
                    <button class="subscribe"> Subscribe</button>
    
                </div>

            </div>
            <div class="row pt-5">
                <div class="col-lg-3 col-md-6 col-sm-12 flexer pt-2">
                    <h4>INFORMATION</h4>
                    <ul class="list-unstyled mt-3">
                        <li class="pb-2">About us</li>
                        <li class="pb-2">Delivery Information</li>
                        <li class="pb-2">Privacy Policy</li>
                        <li class="pb-2">Terms & Conditions</li>
                        <li class="pb-2">Contact Us</li>
                        <li class="pb-2">Mera Jism Meri Marzi</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 flexer mt-2 ">
                  <h4>SERVICES</h4>
                  <ul class="list-unstyled mt-3">
                        <li class="pb-2">Returns</li>
                      <li class="pb-2">Site Maps</li>
                      <li class="pb-2">Wish List</li>
                      <li class="pb-2">My Account</li>
                      <li class="pb-2">Order History</li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 flexer mt-2">
                    <h4 >EXTRAS</h4>
                        <ul class="list-unstyled mt-3">
                        <li class="pb-2">Brands</li>
                        <li class="pb-2">Gift Certificates</li>
                        <li class="pb-2">Affiliates</li>
                        <li class="pb-2">Specials</li>
                        <li class="pb-2">Newsletter</li>
                 </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 flexer mt-2">
                    <h4 >CONTACT</h4>
                    <ul class="list-unstyled mt-3">
                        <li class="pb-2"> <i class="fa fa-map-marker fa-fw"></i> University Of Karachi , PK</li>
                        <li class="pb-2"> <i class="fa fa-phone fa-fw"></i> 090078601</li>
                        <li class="pb-2"> <i class="fa fa-envelope fa-fw"></i> contact@gmail.com</li>
                        <li class="pb-2"> <i class="fa fa-envelope fa-fw"></i> www.facebook.com</li>
                    </ul>
                    
                  </div>
              </div>
        </div>
    </div>
<div class="endfooter">
    <div class="container-fliud">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 flexer">
                <p class="text-dark">Copyright © 2020  All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 flexer">
                <ul class="list-inline ml-xl-5 ">
                    <span class="h3 mr-3">Follow Us:</span>
                    <li class="list-inline-item mr-3"> <i class="fa fa-facebook-f fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-instagram fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-twitter fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-youtube-play fa-2x"></i> </li>
                    <li class="list-inline-item mr-3"> <i class="fa fa-envelope fa-2x"></i> </li>
                </ul>
            </div>

        </div>
        
    </div>

</div>
</footer>